<% include _header %>
  <div class="container">
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>
    <p><%= curso %></p>
    <p>
      <table class="table table-striped">
        <tr>
          <th>Nombre</th>
          <th>Email</th>
          <th>Tipo</th>
          <th></th>
        </tr>
        <%
          if(viewZombies){
            viewZombies.forEach(function(zombie){
              %>
              <tr>
                <td>
                  <%= zombie.name %>
                </td>
                <td>
                  <%= zombie.email %>
                </td>
                <td>
                  <%= zombie.type %>
                </td>
                <td>
                  <i class="fas fa-edit" title="Actualizar"></i>
                  <i class="fas fa-trash" title="Eliminar"></i>
                </td>
              </tr>
              <%
            });
          }
        %>
      </table>
    </p>
  </div>  
<% include _footer %>
